# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

#Custom Loaded
/utilities/jmx_prometheus/
/utilities/grafana/
/utilities/prometheus/

#Cert
src/main/resources/cert/certificates/